.search-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
@media screen and (max-width:900px) {
    .search-box{
        padding: 20px;
    }
}
@media screen and (max-width:550px) {
    .search-box{
        justify-content: center;
    }
}
.search-input{
    display: flex;
    flex-direction: column;
    position: relative;
}
.autocomplete{
    background-color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    padding: 15px;
    z-index: 999;
    text-align: left;
}
.autocomplete p:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #c4c4c4;
    padding: 5px;
    border-radius: 5px;
}