.hero-div{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.hero-div1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-img-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img-div2{
    background-color: #44CB02;
    border-radius: 100%;
    padding: 50px;
    height: 100%;
    width: 100%;
}

.hero-img{
    width: 60%;
    border-radius: 100%;
    /* padding: 20px; */
}
.hero-p1{
    font-size: 2.5em;
    text-align: left;
    font-weight: 700;
}